<div fxLayout="row">
    <mat-card fxLayoutAlign="space-around center" fxLayout="column" fxLayoutGap="10px">
        <button mat-flat-button (click)="newPolygon('terrasse')">recommencer</button>
        <div>
            <mat-form-field>
                <mat-select [(value)]="mode">
                    <mat-option value="add">ajouter</mat-option>
                    <mat-option value="delete">supprimer</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select [(value)]="currentPolygon">
                    <mat-option *ngFor="let figure of project.polygons" [value]="figure">{{figure.type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>aire : {{getArea()}}</div>
        <div>perimetre : {{getPerimeter()}}</div>
    </mat-card>

    <div class="drawing-zone" fxLayoutAlign="start start">
        <svg (click)="onClick($event)" transform="scale(1,-1)" [attr.viewBox]="getViewboxText()">
            <polygon *ngFor="let figure of project.polygons" [attr.fill]="config[figure.type].fill" [attr.stroke]="config[figure.type].stroke"
                stroke-width="0.1" [attr.points]="formatPoints(figure)"></polygon>
            <circle *ngFor="let p of currentPolygon.path" [attr.cx]="p.x" [attr.cy]="p.y" r="0.2" stroke="red" fill="transparent"
                stroke-width="0.1" />
            <defs>
                <pattern id="grid" width="1" height="1" patternUnits="userSpaceOnUse">
                    <path d="M 0 1 L 1 1 1 0" fill="none" stroke="gray" stroke-width="0.1" />
                </pattern>
            </defs>
            <rect width="100%" height="100%" fill="url(#grid)" />
        </svg>
    </div>
</div>
