<svg (click)="onClick($event)" width="100%" height="100%" transform=" scale(1,-1)" preserveAspectRatio="xMidYMid meet"
    [attr.viewBox]="getViewboxText()">

    <defs>
        <pattern id="drawGrid" width="1" height="1" patternUnits="userSpaceOnUse">
            <rect width="1" height="1" fill="none" stroke="gray" stroke-width="0.05" />
        </pattern>
    </defs>

    <rect width="100%" height="100%" stroke="gray" stroke-width="0.1" fill="url(#drawGrid)" />

    <g *ngFor="let figure of project.polygons; index as i">
            <defs>
                <pattern [attr.id]="'structure' + i" [attr.width]="figure.structure.topSpace" [attr.height]="figure.structure.bottomSpace" patternUnits="userSpaceOnUse" [attr.patternTransform]="'rotate('+figure.structure.angle+')'">
                    <rect [attr.width]="figure.structure.topSpace" [attr.height]="figure.structure.bottomSpace" [attr.fill]="config[figure.type].fill" stroke="gray" stroke-width="0.05" />
                </pattern>
            </defs>
        <polygon [attr.fill]="figure.type === 'terrasse' ? 'url(#structure' + i + ')' : config[figure.type].fill" [attr.stroke]="config[figure.type].stroke"
        stroke-width="0.1" [attr.points]="formatPoints(figure)"></polygon>
    </g>

    <g *ngIf="currentPolygon">
        <circle *ngFor="let p of currentPolygon.path;let last = last; let first= first" [attr.cx]="p.x" [attr.cy]="p.y"
            r="0.2" [attr.stroke]="last ? 'green' : first ? 'blue' : 'gray'" fill="transparent" stroke-width="0.1" />
    </g>


</svg>
