<div>

  <terrasse-draw-type-selector [(type)]="selectedDrawType"></terrasse-draw-type-selector>
  <div>
    <button mat-flat-button color="primary" (click)="newDraw()">
      ajouter une {{ selectedDrawType }}
    </button>
  </div>

  <div>
    <button mat-flat-button color="primary" [disabled]="isOnlyOneDraw" (click)="roundCurrentDraw()">
      changer de dessin
    </button>
  </div>
  <div>
    <button mat-flat-button color="primary" [disabled]="isOnlyOneDraw" (click)="removeDraw()">
      supprimer la {{ currentDraw.type }}
    </button>
  </div>
</div>
