<div fxFlexFill fxLayoutGap="10px grid" fxLayout="column">

    <terrasse-draw-type-selector [(type)]="selectedDrawType"></terrasse-draw-type-selector>
    <div fxFlex>
        <button mat-flat-button color="primary" (click)="newDraw(selectedDrawType)">
            ajouter une {{ selectedDrawType }}
        </button>
    </div>

    <div fxFlex>
        <button mat-flat-button color="primary" [disabled]="isOnlyOneDraw()" (click)="changeCurrentDraw()">
            changer de dessin
        </button>
    </div>
    <div fxFlex fxFlex.xs="100">
        <button mat-flat-button color="primary" [disabled]="isOnlyOneDraw()" (click)="removeDraw(currentDraw)">
            supprimer la {{ currentDraw.type }}
        </button>
    </div>
</div>
