<div fxLayoutGap="10px" fxLayout="column">

    <div fxLayoutAlign="row" fxLayoutGap="10px" fxLayoutAlign="center">
        <div>aire : {{currentPolygonInfo.area}}</div>
        <div>perimetre : {{currentPolygonInfo.perimeter}}</div>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
        <div> au clic : </div>
        <mat-radio-group fxLayoutGap="10px" fxLayout="column" [(ngModel)]="modeValue" (change)="mode.emit(modeValue)">
            <mat-radio-button value="add">ajouter</mat-radio-button>
            <mat-radio-button value="modify">modifier</mat-radio-button>
            <mat-radio-button value="delete">supprimer</mat-radio-button>
        </mat-radio-group>

        <div> point </div>
    </div>
    <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center">
        <button mat-flat-button (click)="changeCurrentPolygon()" [disabled]="project.polygons.length == 1">
            changer d'élément
        </button>
        <button mat-flat-button [disabled]="isNotChangeablePolygon(currentPolygon)" (click)="changePolygonFirstElement(currentPolygon)">
            rotation des points
        </button>
    </div>


    <!-- <div>
        <mat-form-field>
            <input matInput placeholder="nom de l'élément" [(ngModel)]="currentPolygon.name">
        </mat-form-field>
    </div> -->
    <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button (click)="newPolygon(selectedPolygonType)">ajouter une</button>
        <mat-form-field>
            <mat-select [(value)]="selectedPolygonType">
                <mat-option *ngFor="let type of polygonTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Structure
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field>
            <input matInput placeholder="espace lambourdes basses" [(ngModel)]="currentPolygon.structure.bottomSpace">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="espace lambourdes hautes" [(ngModel)]="currentPolygon.structure.topSpace">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="angle" [(ngModel)]="currentPolygon.structure.angle">
        </mat-form-field>
    </mat-expansion-panel>


    <div fxLayoutAlign="center center">
        <button mat-flat-button (click)="removePolygon(currentPolygon)" [disabled]="project.polygons.length == 1">
            supprimer le dessin en cours
        </button>
    </div>

    <div fxLayoutAlign="center center">
        <mat-form-field>
            <input matInput placeholder="nom du projet" [(ngModel)]="project.name">
        </mat-form-field>
    </div>
    <div fxLayoutGap="10px" fxLayoutAlign="center center" fxLayout.xs="column">
        <mat-form-field>
            <input matInput placeholder="Largeur du terrain" [(ngModel)]="project.area.width">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Longueur du terrain" [(ngModel)]="project.area.height">
        </mat-form-field>
    </div>
</div>
