<div fxLayoutGap="10px" fxLayout="column">
   <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
        <div fxFlex>au clic :</div>
        <div fxFlex="75">
            <mat-radio-group fxLayoutGap="10px grid" fxLayout="row wrap" [(ngModel)]="modeValue" (change)="mode.emit(modeValue)">
                <mat-radio-button value="add">ajouter</mat-radio-button>
                <mat-radio-button value="modify">modifier</mat-radio-button>
                <mat-radio-button value="delete">supprimer</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Informations Dessins
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayoutAlign="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <div fxFlex>aire : {{calcArea(currentDraw)}}</div>
            <div fxFlex>perimetre : {{currentDraw.polygon.perimeter()}}</div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Dessins
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxFlexFill fxLayoutGap="10px grid" fxLayout="row wrap" fxLayoutAlign="center center">

            <div fxFlex>
                <mat-form-field>
                    <mat-label>type de dessin à ajouter</mat-label>
                    <mat-select [(value)]="selectedDrawType">
                        <mat-option *ngFor="let type of drawTypes" [value]="type">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex >
                <button mat-flat-button color="primary" (click)="newDraw(selectedDrawType)">
                    ajouter une {{selectedDrawType}}
                </button>
            </div>
            <div fxFlex>
                <button mat-flat-button color="primary" [disabled]="isNotChangeable(currentDraw)" (click)="changeDrawFirstElement(currentDraw)">
                    rotation des points
                </button>
            </div>
            <div fxFlex>
                <button mat-flat-button color="primary" [disabled]="isNotChangeable(currentDraw)" (click)="reverseDraw(currentDraw)">
                    inversion du sens
                </button>
            </div>
            <div fxFlex>
                <button mat-flat-button color="primary" [disabled]="isOnlyOneDraw()" (click)="changeCurrentDraw()" >
                    changer de dessin
                </button>
            </div>
            <div fxFlex fxFlex.xs="100">
                <button mat-flat-button color="primary" [disabled]="isOnlyOneDraw()" (click)="removeDraw(currentDraw)" >
                    supprimer la {{currentDraw.type}}
                </button>
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Structure
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxFlexFill fxLayoutGap="10px grid" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput placeholder="espace lambourdes basses" [(ngModel)]="currentDraw.structure.bottomSpace">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="espace lambourdes hautes" [(ngModel)]="currentDraw.structure.topSpace">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="angle" [(ngModel)]="currentDraw.structure.angle">
            </mat-form-field>
        </div>
    </mat-expansion-panel>



    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Terrain
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxFlexFill fxLayoutGap="10px grid" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-form-field>
                <input matInput placeholder="nom du projet" [(ngModel)]="project.name">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Largeur du terrain" [(ngModel)]="project.zone.width">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Longueur du terrain" [(ngModel)]="project.zone.height">
            </mat-form-field>
        </div>

    </mat-expansion-panel>
</div>
