<div>
    <button mat-flat-button (click)="newPolygon(polygonTypes.Terrasse)">ajouter une terrasse</button>
    <button style="margin-left: 10px" mat-flat-button (click)="newPolygon(polygonTypes.Piscine)">ajouter une
        piscine</button>
</div>
<div>
    au clic :
    <mat-form-field>
        <mat-select [(value)]="modeValue" (selectionChange)="mode.emit(mode)">
            <mat-option value="add">ajouter point</mat-option>
            <mat-option value="modify">modifier point</mat-option>
            <mat-option value="delete">supprimer point</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    édition de l'élément :
    <mat-form-field>
        <mat-select [(value)]="currentPolygon" (selectionChange)="setCurrentPolygon(currentPolygon)">
            <mat-option *ngFor="let figure of project.polygons" [value]="figure">{{(figure.name || '') + ' ('+
                figure.type+')'}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    nom :
    <mat-form-field>
        <input matInput placeholder="nom" [(ngModel)]="currentPolygon.name">
    </mat-form-field>
</div>
<div>aire : {{getArea()}}</div>
<div>perimetre : {{getPerimeter()}}</div>
