<terrasse-draw-type-selector [(type)]="selectedDrawType"></terrasse-draw-type-selector>
<div class="action-bar">

  <terrasse-button icon="add" (click)="newDraw()" title="ajouter un dessin">
  </terrasse-button>
  <terrasse-button icon="swap_horiz" [disabled]="isOnlyOneDraw" (click)="roundCurrentDraw()" title="changer de dessin">
  </terrasse-button>
  <terrasse-button icon="remove" [disabled]="isOnlyOneDraw" (click)="removeDraw()" title="supprimer le dessin en cours">
  </terrasse-button>

</div>
