:host{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-content, .header-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5em;
}

.header-bar {
  padding: 0 1em;
}
.main-content {
    flex: 1 0 0rem;
    @media screen and (max-width:600px) {
      flex-direction: column;
    }
}
.main-card {
  flex: 1 1 0rem;
  display: flex;
  flex-direction: column;

  .config-bar{
    display: flex;
    margin: 1rem;
    justify-content: center;
  }
  .draw-area{
    flex:1;
    display: flex;
  }
}

.side {
  max-width: 15rem;
  @media screen and (max-width:600px) {
    max-width: 100%;
  }
}

mat-card {
  margin: .5rem;
}

