<div fxFlexFill fxLayoutGap="10px grid" fxLayout="column">

  <div fxFlex>
    <button mat-flat-button color="primary" [disabled]="isNotChangeable(polygon)"
    (click)="polygon.rollFirstToLast()">
    rotation des points
  </button>
</div>
<div fxFlex>
  <button mat-flat-button color="primary" [disabled]="isNotChangeable(polygon)"
  (click)="polygon.path.reverse()">
  inversion du sens
</button>
</div>
<div fxFlex>
  <button mat-flat-button color="primary" (click)="movePolygon(polygon)">
    déplacer
  </button>
</div>
</div>