/* You can add global styles to this file, and also import other style files */
body, html{
	height: 100%
}
body{
	margin: 0;
}

@import 'app/app.component';
@import 'app/footer/footer.component';

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
