/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: lightgray;
}

playground-host {
    top: 1rem;
    position: relative;
    min-height: 10rem;
    width: 80%;
    display: flex;
    margin: auto;
    border:1px solid red;
}


