<ng-container *ngIf="currentDraw && project">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Structure
      </mat-panel-title>
    </mat-expansion-panel-header>
    <terrasse-structure-config [(structure)]="currentDraw.structure"></terrasse-structure-config>
    <terrasse-structure-calculator [(draw)]="currentDraw"></terrasse-structure-calculator>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Informations Dessins
      </mat-panel-title>
    </mat-expansion-panel-header>
    <terrasse-draw-info [draw]="currentDraw" [project]="project"></terrasse-draw-info>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dessins
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <terrasse-draws [(draws)]="project.draws" (currentDraw)="currentDraw"></terrasse-draws>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Terrain
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput placeholder="nom du projet" [(ngModel)]="project.name">
    </mat-form-field>
    <terrasse-zone-config [(zone)]="project.zone"></terrasse-zone-config>
  </mat-expansion-panel>
</ng-container>
