<div class="title">points :</div>
<mat-button-toggle-group name="point" aria-label="point" [(value)]="mode">
  <mat-button-toggle [value]="modeEnum.ADD" title="ajouter un point">
    <span class="material-icons">
      add_location
    </span>
  </mat-button-toggle>
  <mat-button-toggle [value]="modeEnum.MODIFY" title="modifier un point">
    <span class="material-icons">
      edit_location
    </span>
  </mat-button-toggle>
  <mat-button-toggle [value]="modeEnum.SUPPRESS" title="supprimer un point">
    <span class="material-icons">
      delete_forever
    </span>
  </mat-button-toggle>
</mat-button-toggle-group>
