<div class="modal-dialog">

	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">informations sur la figure</h4>
		</div>
		<div class="modal-body">
			<p>
				<span class="row">perimetre : {{perimetre}}</span> 
				<span class="row">surface bois : {{airePolygone}} + {{chutes}} (7%)</span>
				<span class="row">rectangle englobant : 
					<span class = "row">longueur suivant x : {{longueurRectX}}</span>
					<span class = "row">longueur suivant y : {{longueurRectY}}</span>
					<span class = "row">aire : {{aireRectangle}}</span>
				</span>
				<span class="row">entraxe entre les lambourdes de l'axe x : {{ecartX}} avec {{nombreLambourdesX}} lambourdes et un bord de {{bordX}}</span>
				<span class="row">entraxe entre les lambourdes de l'axe y : {{ecartY}} avec {{nombreLambourdesY}} lambourdes et un bord de {{bordY}}</span>
			</p>
		</div>

	</div>
</div>


